Repository NewKrok/three-particles-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add vortex and bubbles particle textures
  public/assets/textures/bubbles.webp
  public/assets/textures/vortex.webp
  src/js/three-particles-editor/texture-config.ts
  src/js/three-particles-editor/texture-metadata.ts
  src/js/three-particles-editor/texture-selector/texture-selector.ts
Due: eslint --fix, prettier --write

feat: add Mystic Portal particle effect example
  public/examples/mystic-portal/config.json
  public/examples/mystic-portal/preview.webp
  src/examples-config.js
Due: eslint --fix, prettier --write

fix: remove duplicate config storage from examples-config.js
  public/examples/cauldron-bubbles/config.json
  src/examples-config.js
Due: eslint --fix, prettier --write

fix: add @semantic-release/npm plugin to update package.json version
  .releaserc
Due: none

feat: add Show Shape debug helper to visualize emitter shapes
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/helper-entries.ts
  src/js/three-particles-editor/shape-helper.ts
Due: eslint --fix, prettier --write

fix: shape helper now follows transform position values
  src/js/three-particles-editor/entries/helper-entries.ts
Due: eslint --fix, prettier --write

feat: replace Cauldron Bubbles with Rising Bubbles particle effect
  public/examples/cauldron-bubbles/config.json
  public/examples/rising-bubbles/config.json
  src/examples-config.js
Due: eslint --fix, prettier --write

feat: add preview image for Rising Bubbles effect
  public/examples/rising-bubbles/preview.webp
Due: none

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f8d09a990c2a0cfcad3493093cfe43449f509d21
Due: none

chore: update dependencies
  package.json
Due: prettier --write

feat: add burst emission mode support to editor
  src/js/three-particles-editor/entries/emission-entries.ts
Due: eslint --fix, prettier --write

feat: add Snow Cannon particle effect with detailed snowflake texture
  public/assets/textures/snowflake-detailed.webp
  public/assets/textures/soft-smoke.webp
  public/examples/snow-cannon/config.json
  public/examples/snow-cannon/preview.webp
  src/examples-config.js
  src/js/three-particles-editor/texture-config.ts
Due: eslint --fix, prettier --write

fix: resolve config loading issues and add missing texture
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/renderer-entries.ts
  src/js/three-particles-editor/save-and-load.ts
  src/js/three-particles-editor/texture-metadata.ts
  src/js/three-particles-editor/texture-selector/texture-selector.ts
Due: eslint --fix, prettier --write

feat: show confirmation dialog only when config has unsaved changes
  src/components/content/examples/example.svelte
  src/components/header/header.svelte
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/save-and-load.ts
Due: eslint --fix, prettier --write

fix: properly reset config when creating new particle system
  src/components/content/examples/example.svelte
  src/components/header/header.svelte
  src/js/three-particles-editor.ts
Due: eslint --fix, prettier --write

feat: add individual update method option to helper settings
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/helper-entries.ts
Due: eslint --fix, prettier --write

chore: update @newkrok/three-particles to ^2.4.0
  package.json
Due: prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

chore(release): 2.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d965dadbd079c20c5f2fe1e5d5cd6df0e22b199a
Due: none

fix: remove unused globals config from rollup
  rollup.config.js
Due: eslint --fix, prettier --write

chore(release): 2.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b07827168e51dd98c5191c4fa69776fff5f80986
Due: none

feat: add Poison Skulls example with sub-emitter smoke effect
  public/examples/poison-skulls/config.json
  src/examples-config.js
Due: eslint --fix, prettier --write

fix: gradient editor callback not updating when switching between configs
  src/js/three-particles-editor/entries/gradient-editor-entries.ts
  src/js/three-particles-editor/gradient-editor/gradient-editor.ts
Due: eslint --fix, prettier --write

feat: add nested sub-emitter support and fix sub-emitter bugs
  package-lock.json
  package.json
  src/components/content/library/library-item.svelte
  src/js/three-particles-editor.ts
Due: eslint --fix, prettier --write

fix: add missing Poison Skulls preview image
  public/examples/poison-skulls/preview.webp
Due: none

refactor: migrate Svelte components from v4 to v5 syntax
  src/components/about-modal/about-modal.svelte
  src/components/config-card/config-card.svelte
  src/components/content/content.svelte
  src/components/content/control-panel/control-panel.svelte
  src/components/content/examples/example.svelte
  src/components/content/examples/examples.svelte
  src/components/content/left-side/left-side.svelte
  src/components/content/library/file-uploader.svelte
  src/components/content/library/library-item.svelte
  src/components/content/library/library.svelte
  src/components/header/header.svelte
  src/components/ko-fi-button/ko-fi-button.svelte
  src/components/legacy-config-modal/legacy-config-modal.svelte
  src/components/load-dialog/load-dialog.svelte
  src/components/save-dialog/save-dialog.svelte
  src/components/snackbar/snackbar.svelte
  src/main.js
Due: eslint --fix, prettier --write

chore: update npm dependencies to latest versions
  package-lock.json
  package.json
  src/components/legacy-config-modal/legacy-config-modal.svelte
  src/js/three-particles-editor/config-converter.ts
Due: eslint --fix, prettier --write

feat: add Sub-Emitters editor support
  src/components/header/header.svelte
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/emission-entries.ts
  src/js/three-particles-editor/entries/gradient-editor-entries.ts
  src/js/three-particles-editor/entries/shape-entries.ts
  src/js/three-particles-editor/entries/sub-emitter-entries.ts
  src/js/three-particles-editor/entries/texture-sheet-animation-entries.ts
  src/js/three-particles-editor/save-and-load.ts
Due: eslint --fix, prettier --write

chore(release): 2.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fda366d8fae6ccfad7d5dac35c010672686c667e
Due: none

fix: preserve color/opacity state on config load and remove header breadcrumb
  src/components/header/header.svelte
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/gradient-editor-entries.ts
Due: eslint --fix, prettier --write

chore(release): 2.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  19e7ed79308313b896830ee155e147be1d86881e
Due: none

feat: add force field editor with 3D visualization and drag interaction
  package-lock.json
  package.json
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/force-field-entries.ts
  src/js/three-particles-editor/entries/helper-entries.ts
  src/js/three-particles-editor/force-field-helper.ts
  src/js/three-particles-editor/force-field-interaction.ts
  src/js/three-particles-editor/save-and-load.ts
  src/js/three-particles-editor/world.ts
Due: eslint --fix, prettier --write

feat: add rendererType option, big numbers toggle, and new examples
  package-lock.json
  public/examples/fire-blast/config.json
  public/examples/fire-blast/preview.webp
  public/examples/floating-hearts/config.json
  public/examples/floating-hearts/preview.webp
  public/examples/star-blast/config.json
  public/examples/star-blast/preview.webp
  src/examples-config.js
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/emission-entries.ts
  src/js/three-particles-editor/entries/general-entries.ts
  src/js/three-particles-editor/entries/helper-entries.ts
Due: eslint --fix, prettier --write

chore(release): 2.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f92295406b668a31b320e84e932ca2d10baa72e4
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: (any of: *.{js,ts,svelte}) or (any of: *.{json,md,css,scss})
