Repository NewKrok/three-particles-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: save theme preference to localStorage
  src/components/header/header.svelte
Due: eslint --fix, prettier --write

test: temporarily disable config-converter tests
  src/js/three-particles-editor/__tests__/disabled-config-converter.ts
  src/js/three-particles-editor/config-converter.ts
Due: eslint --fix, prettier --write

ci: add GitHub deployment status updates and bump version to 2.0.1
  .github/workflows/ftp-deploy.yml
  package.json
Due: prettier --write

ci: fix GitHub deployment actions and bump version to 2.0.2
  .github/workflows/ftp-deploy.yml
  package.json
Due: prettier --write

refactor: extract save dialog to separate component
  src/components/header/header.svelte
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

feat: add localStorage saving to save dialog with recently saved configs
  package-lock.json
  package.json
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

feat: add confirmation dialog for overwriting saved configurations
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

feat: add copy to clipboard functionality to header component
  src/components/header/header.svelte
Due: eslint --fix, prettier --write

fix: include SMUI theme compilation in build script
  package.json
Due: prettier --write

chore: bump version to 2.1.0
  package.json
Due: prettier --write

docs: add CHANGELOG.md to track project updates
  CHANGELOG.md
Due: prettier --write

ci: add semantic release for automated versioning and changelog generation
  .github/workflows/ftp-deploy.yml
  .releaserc
  package.json
Due: prettier --write

chore: update development rules and dependencies
  .windsurfrules
  package-lock.json
Due: prettier --write

fix: remove npm plugin from semantic-release config
  .releaserc
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  89c48f55ef0f2b1058cc36768f767f4cf4c55d7f
Due: none

fix: improve semantic-release configuration and workflow
  .github/workflows/ftp-deploy.yml
  .releaserc
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  33efc3c614b5943c6c6dd91c13daebd8eeb2fd31
Due: none

feat: add automatic Untitled-X naming for unnamed configurations
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

refactor: extract config card into reusable component
  src/components/config-card/config-card.svelte
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

feat: add delete functionality to config cards with confirmation dialog
  src/components/config-card/config-card.svelte
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

feat: enhance configuration metadata and naming system
  src/components/header/header.svelte
  src/components/save-dialog/save-dialog.svelte
  src/js/three-particles-editor.ts
  src/js/utils/name-utils.ts
Due: eslint --fix, prettier --write

feat: add editable configuration name with hover edit icon
  src/components/header/header.svelte
Due: eslint --fix, prettier --write

feat: improve editable configuration name UX with larger input field
  src/components/header/header.svelte
Due: eslint --fix, prettier --write

feat: add load dialog component for loading saved configurations
  src/components/header/header.svelte
  src/components/load-dialog/load-dialog.svelte
Due: eslint --fix, prettier --write

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ae79bc5fb72b9addbfad8123bc6ef7b109502553
Due: none

fix: update GitHub workflow to replace version placeholders before build
  .github/workflows/ftp-deploy.yml
Due: none

chore(release): 2.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  61af6e98e756ac17b5e56c2e02cb58fb63abe26f
Due: none

feat: improve save dialog usability with keyboard support and concise labels
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

feat: add separate Save and Save As buttons to header
  src/components/header/header.svelte
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

refactor: extract URL-friendly string conversion to utility function Supports both file-based and runtime config loading
  .gitignore
  public/examples/smoke-2/config.json
  public/examples/smoke-2/preview.webp
  src/components/content/examples/example.svelte
  src/examples-config.js
  src/js/utils/name-utils.ts
Due: eslint --fix, prettier --write

feat: implement collapsible left sidebar panel
  src/components/content/content.svelte
  src/components/content/left-side/left-side.svelte
Due: eslint --fix, prettier --write

feat: save left panel collapsed state to localStorage
  src/components/content/left-side/left-side.svelte
Due: eslint --fix, prettier --write

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  40b322f59a9417fc5da6aa73a245ea4a7e8c5f2d
Due: none

docs: add initial project documentation for Claude AI
  .claude/CLAUDE.md
Due: prettier --write

chore: upgrade all npm packages to latest versions
  .claude/settings.local.json
  package-lock.json
  package.json
  rollup.config.js
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/config-converter.ts
  src/js/three-particles-editor/entries/entry-helpers-v2.ts
  src/js/three-particles-editor/entries/general-entries.ts
  src/js/three-particles-editor/entries/helper-entries.ts
  src/js/three-particles-editor/entries/opacity-over-lifetime-entries.ts
  src/js/three-particles-editor/entries/shape-entries.ts
  src/js/three-particles-editor/entries/size-over-lifetime-entries.ts
  src/js/three-particles-editor/entries/texture-sheet-animation-entries.ts
  src/js/three-particles-editor/entries/velocity-over-lifetime-entries.ts
  src/js/three-particles-editor/save-and-load.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: (any of: *.{js,ts,svelte}) or (any of: *.{json,md,css,scss})
