Repository NewKrok/three-particles-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: translate CLAUDE.md from Hungarian to English
  .claude/CLAUDE.md
Due: prettier --write

docs: add branching strategy documentation
  .claude/BRANCHING_STRATEGY.md
Due: prettier --write

feat: integrate Google Analytics with dynamic configuration
  .github/workflows/ftp-deploy.yml
  public/index.html
Due: none

feat: implement color over lifetime with three independent RGB channels
  src/js/three-particles-editor/entries/color-over-lifetime-entries.ts
  src/js/three-particles-editor/entries/entry-helpers-v2.ts
  src/js/three-particles-editor/entries/opacity-over-lifetime-entries.ts
  src/js/three-particles-editor/entries/size-over-lifetime-entries.ts
Due: eslint --fix, prettier --write

fix: improve legacy config detection using editorVersion metadata
  src/js/three-particles-editor/config-util.ts
Due: eslint --fix, prettier --write

feat: implement unified gradient editor for color and opacity over lifetime
  public/global.css
  src/components/content/content.svelte
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/gradient-editor-entries.ts
  src/js/three-particles-editor/gradient-editor/default-gradients.ts
  src/js/three-particles-editor/gradient-editor/gradient-editor.ts
  src/js/three-particles-editor/gradient-editor/gradient-to-bezier.ts
Due: eslint --fix, prettier --write

refactor: improve gradient editor UX and usability
  public/global.css
  src/components/content/content.svelte
  src/js/three-particles-editor/entries/gradient-editor-entries.ts
  src/js/three-particles-editor/gradient-editor/gradient-editor.ts
Due: eslint --fix, prettier --write

refactor: migrate to ESLint 9 flat config format
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor: improve gradient editor UX with inline color picker
  src/components/content/content.svelte
  src/js/three-particles-editor/gradient-editor/gradient-editor.ts
Due: eslint --fix, prettier --write

fix: improve gradient editor marker positioning and drag constraints
  src/js/three-particles-editor/gradient-editor/gradient-editor.ts
Due: eslint --fix, prettier --write

feat: add gradient preset management with visual previews
  public/global.css
  src/js/three-particles-editor/gradient-editor/gradient-editor.ts
Due: eslint --fix, prettier --write

feat: add Ko-fi support button for project donations
  src/components/about-modal/about-modal.svelte
  src/components/content/content.svelte
  src/components/ko-fi-button/ko-fi-button.svelte
Due: eslint --fix, prettier --write

feat: add 12 new gradient presets for diverse visual effects
  src/js/three-particles-editor/gradient-editor/default-gradients.ts
Due: eslint --fix, prettier --write

fix: add missing type fields to particle system examples
  src/examples-config.js
Due: eslint --fix, prettier --write

feat: add new Feathers particle effect example
  .claude/settings.local.json
  public/examples/feathers/config.json
  public/examples/feathers/preview.webp
  src/examples-config.js
Due: eslint --fix, prettier --write

fix: handle undefined config in example search filter
  src/components/content/examples/examples.svelte
Due: eslint --fix, prettier --write

fix: convert CommonJS config files to ES modules for compatibility
  jest.config.js
  scripts/compile-theme.js
Due: eslint --fix, prettier --write

fix: add missing keys to Svelte each blocks
  src/components/content/left-side/left-side.svelte
  src/components/load-dialog/load-dialog.svelte
  src/components/save-dialog/save-dialog.svelte
Due: eslint --fix, prettier --write

fix: upgrade Node.js version to 20 in CI workflows
  .github/workflows/bundle-size-check.yml
  .github/workflows/circular-dependencies.yml
  .github/workflows/ftp-deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix: upgrade Node.js version to 22 for semantic-release compatibility
  .github/workflows/ftp-deploy.yml
Due: none

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  f38822d75e1f9d4128a1bf10ab2a3e5f64163073
Due: none

feat: enhance bezier curve editor with modal interface and expanded presets
  public/global.css
  src/components/content/content.svelte
  src/js/three-particles-editor/curve-editor/curve-editor.ts
  src/js/three-particles-editor/curve-editor/predefined-bezier-curve-config.ts
  src/js/three-particles-editor/entries/color-over-lifetime-entries.ts
  src/js/three-particles-editor/entries/opacity-over-lifetime-entries.ts
  src/js/three-particles-editor/entries/size-over-lifetime-entries.ts
Due: eslint --fix, prettier --write

fix: restore right-panel container for lil-gui positioning
  public/global.css
  src/components/content/content.svelte
Due: eslint --fix, prettier --write

fix: unify gradient editor help panel style with bezier editor
  public/global.css
Due: prettier --write

fix: correct bezier editor canvas sizing and alignment
  public/global.css
Due: prettier --write

feat: enable real-time particle system updates in bezier editor
  src/js/three-particles-editor/curve-editor/curve-editor.ts
  src/js/three-particles-editor/entries/color-over-lifetime-entries.ts
  src/js/three-particles-editor/entries/opacity-over-lifetime-entries.ts
  src/js/three-particles-editor/entries/size-over-lifetime-entries.ts
Due: eslint --fix, prettier --write

feat: make entire modal draggable for curve and gradient editors
  public/global.css
  src/js/three-particles-editor/curve-editor/curve-editor.ts
  src/js/three-particles-editor/gradient-editor/gradient-editor.ts
Due: eslint --fix, prettier --write

feat: add three new particle textures (light-streak, radial-burst, starburst)
  public/assets/textures/light-streak.webp
  public/assets/textures/radial-brust.webp
  public/assets/textures/starbust.webp
  src/js/three-particles-editor/entries/renderer-entries.ts
  src/js/three-particles-editor/texture-config.ts
Due: eslint --fix, prettier --write

feat: add soft-smoke particle texture
  public/assets/textures/soft-smoke.webp
  src/js/three-particles-editor/entries/renderer-entries.ts
  src/js/three-particles-editor/texture-config.ts
Due: eslint --fix, prettier --write

feat: add download button for all textures in library
  src/components/content/library/library-item.svelte
Due: eslint --fix, prettier --write

feat: add texture selector modal to renderer settings
  public/global.css
  src/components/content/content.svelte
  src/js/three-particles-editor/entries/renderer-entries.ts
  src/js/three-particles-editor/texture-metadata.ts
  src/js/three-particles-editor/texture-selector/texture-selector.ts
Due: eslint --fix, prettier --write

feat: add three new high-quality particle examples using soft-smoke texture
  src/examples-config.js
Due: eslint --fix, prettier --write

feat: redesign Arcane Vortex as Arcane Burst effect
  public/assets/examples/effects/arcane-burst.json
  public/assets/examples/effects/celestial-impact.json
  public/assets/examples/effects/supernova-burst.json
  src/examples-config.js
Due: eslint --fix, prettier --write

feat: replace Celestial Impact with Solar Flare effect
  public/assets/examples/effects/solar-flare.json
  src/examples-config.js
Due: eslint --fix, prettier --write

refactor: reorganize particle effect examples into proper directory structure
  public/examples/arcane-burst/config.json
  public/examples/explosion/config.json
  public/examples/mystical-smoke/config.json
  public/examples/solar-flare/config.json
  public/examples/supernova-burst/config.json
  public/examples/toxic-smoke/config.json
Due: prettier --write

feat: add screenshot capture functionality with Shift+S hotkey
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/world.ts
Due: eslint --fix, prettier --write

feat: add preview images for particle effect examples
  public/examples/arcane-burst/preview.webp
  public/examples/explosion/preview.webp
  public/examples/mystical-smoke/preview.webp
  public/examples/solar-flare/preview.webp
  public/examples/supernova-burst/preview.webp
  public/examples/toxic-smoke/preview.webp
Due: none

chore(release): 2.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  8fb11355c29d0dd06d38aedb4c683c6ced863834
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: (any of: *.{js,ts,svelte}) or (any of: *.{json,md,css,scss})
