Repository NewKrok/three-particles-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css,scss}": [
    "prettier --write"
  ]
}

feat: add trail renderer editor and update three-particles to 2.12.0
  package-lock.json
  package.json
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/general-entries.ts
  src/js/three-particles-editor/entries/trail-entries.ts
Due: eslint --fix, prettier --write

docs: add developer guides for common editor tasks
  .claude/CLAUDE.md
  .claude/docs/config-serialization.md
  .claude/docs/curve-editor-integration.md
  .claude/docs/how-to-add-entry.md
  .claude/docs/how-to-add-example.md
  .claude/docs/how-to-add-texture.md
Due: prettier --write

feat: add mesh particle renderer editor and update three-particles to 2.13.0
  package-lock.json
  package.json
  src/examples-config.js
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/general-entries.ts
  src/js/three-particles-editor/entries/mesh-entries.ts
  src/js/three-particles-editor/entries/renderer-entries.ts
  src/js/three-particles-editor/save-and-load.ts
Due: eslint --fix, prettier --write

feat: add trail v2 properties, soft particles support, and new examples
  package-lock.json
  package.json
  public/examples/ethereal-wisps/config.json
  public/examples/floating-gems/config.json
  public/examples/geometric-storm/config.json
  public/examples/geometric-storm/preview.webp
  public/examples/ink-strokes/config.json
  public/examples/laser-ribbon/config.json
  public/examples/rock-debris/config.json
  public/examples/smooth-serpent/config.json
  public/examples/soft-ground-fog/config.json
  src/examples-config.js
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/renderer-entries.ts
  src/js/three-particles-editor/entries/trail-entries.ts
  src/js/three-particles-editor/save-and-load.ts
  src/js/three-particles-editor/world.ts
Due: eslint --fix, prettier --write

fix: properly reset config when switching examples and rename soft smoke
  public/examples/soft-ground-fog/config.json
  public/examples/soft-smoke/config.json
  public/examples/soft-smoke/preview.webp
  src/examples-config.js
  src/js/three-particles-editor/save-and-load.ts
Due: eslint --fix, prettier --write

chore: update npm dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: disable trail-based examples due to performance issues
  src/examples-config.js
Due: eslint --fix, prettier --write

feat: add scientific colormap gradient presets and reverse gradient button
  src/js/three-particles-editor/gradient-editor/default-gradients.ts
  src/js/three-particles-editor/gradient-editor/gradient-editor.ts
Due: eslint --fix, prettier --write

feat: add new bezier curve presets and reverse curve button
  src/js/three-particles-editor/curve-editor/curve-editor.ts
  src/js/three-particles-editor/curve-editor/predefined-bezier-curve-config.ts
Due: eslint --fix, prettier --write

feat: add live config update mode using engine's updateConfig API
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/general-entries.ts
  src/js/three-particles-editor/entries/helper-entries.ts
Due: eslint --fix, prettier --write

fix: prevent crash when dragging force fields and allow switching between them
  src/js/three-particles-editor/entries/force-field-entries.ts
  src/js/three-particles-editor/force-field-interaction.ts
Due: eslint --fix, prettier --write

feat: enable live update for force field properties
  src/js/three-particles-editor.ts
Due: eslint --fix, prettier --write

fix: prevent WebGL feedback loop in soft particles depth pass
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/world.ts
Due: eslint --fix, prettier --write

chore: bump @newkrok/three-particles to ^2.15.1
  package-lock.json
  package.json
Due: prettier --write

chore: update example configs, add preview images, and refactor trail color editor
  public/examples/ethereal-wisps/config.json
  public/examples/ethereal-wisps/preview.webp
  public/examples/floating-gems/preview.webp
  public/examples/ink-strokes/config.json
  public/examples/rock-debris/preview.webp
  src/js/three-particles-editor/entries/trail-entries.ts
Due: eslint --fix, prettier --write

chore(release): 2.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31a69cbd0b114b2b5b7a2d3bd7640e83352a6919
Due: none

feat: add WebGPU rendering support with GPU/CPU simulation backend
  package.json
  rollup.config.js
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/renderer-entries.ts
  src/js/three-particles-editor/world.ts
Due: eslint --fix, prettier --write

refactor: move rendererType setting from General to Renderer folder
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/general-entries.ts
  src/js/three-particles-editor/entries/renderer-entries.ts
Due: eslint --fix, prettier --write

feat: add Feather Blaze example
  public/examples/feather-blaze/config.json
  public/examples/feather-blaze/preview.webp
  src/examples-config.js
Due: eslint --fix, prettier --write

fix: enable depthWrite when switching to MESH renderer type
  src/js/three-particles-editor/entries/renderer-entries.ts
Due: eslint --fix, prettier --write

feat: add GPU particle examples and fix velocity editor bug
  public/examples/neon-rain/config.json
  public/examples/neon-rain/preview.webp
  public/examples/particle-galaxy/config.json
  public/examples/particle-galaxy/preview.webp
  src/examples-config.js
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/config-converter.ts
Due: eslint --fix, prettier --write

feat: add collision planes editor with debug helpers and examples
  public/examples/bouncing-rain/config.json
  public/examples/bouncing-rain/preview.webp
  public/examples/bubble-pop/config.json
  public/examples/bubble-pop/preview.webp
  public/examples/flame-barrier/config.json
  public/examples/flame-barrier/preview.webp
  src/examples-config.js
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/collision-plane-helper.ts
  src/js/three-particles-editor/collision-plane-interaction.ts
  src/js/three-particles-editor/entries/collision-plane-entries.ts
  src/js/three-particles-editor/entries/helper-entries.ts
  src/js/three-particles-editor/save-and-load.ts
Due: eslint --fix, prettier --write

refactor: use enableWebGPU() convenience function for WebGPU init
  src/js/three-particles-editor.ts
Due: eslint --fix, prettier --write

fix: live update structural change detection, throttle full recreate, and force field improvements
  src/js/three-particles-editor.ts
  src/js/three-particles-editor/entries/collision-plane-entries.ts
  src/js/three-particles-editor/entries/force-field-entries.ts
Due: eslint --fix, prettier --write

chore: upgrade @newkrok/three-particles to 2.16.1
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e1d7e4d10fd227a0aa44bdd84e375a125b868e0
Due: none

chore: upgrade @newkrok/three-particles to 3.0.0
  package-lock.json
  package.json
Due: prettier --write

feat: add Sparkler Trail example showcasing v3.0.0 world space
  public/examples/sparkler-trail/config.json
  public/examples/sparkler-trail/preview.webp
  src/examples-config.js
Due: eslint --fix, prettier --write

chore(release): 2.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  215f45d2b151fbbb010ddc6a5108c15140d477e1
Due: none

docs: update version references to reflect three-particles 3.0.0
  .claude/CLAUDE.md
  src/components/about-modal/about-modal.svelte
  src/js/three-particles-editor/config-converter.ts
Due: eslint --fix, prettier --write
